.app {

  font-family: Verdana, Helvetica, Arial, sans-serif !important;

  .container-section {
    padding: 0 30px;

    &.backdrop {
      background-color: #000000;
      margin-top: 25px;
      margin-bottom: 25px;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .row-button {
      margin-top: 10px;
    }

    div.row-button:last-child {
      margin-bottom: 10px;
    }

    tal-button {
      margin-right: 5px;
    }

    .row-input, .row-dropdown {
      margin-bottom: 15px;
    }

    h1 {
      font-size: 36px;
    }
  }

}
